<% if @user_reviews == nil %>
	<h1> No reviews </h1>
<% else %>
	<h1><%= pluralize(@user_reviews.count, "review") %></h1>

<h1>Reviews</h1>

<table>
	<tr>
		<th>Rating</th>
		<th>Comment</th>
		<th>Reviewer</th>
		<th>Updated On</th>
		<th></th>
	</tr>

<% @user_reviews.each do |user_review| %>
	<tr>
		<td><%= user_review.rating %></td>
		<td><%= user_review.comment %></td>
		<td><%= UserProfile.find(user_review.reviewer_id).first_name %>
			<%= UserProfile.find(user_review.reviewer_id).last_name %> 
		</td>
		<td><%= user_review.updated_at %></td>
		<td>
			<% if current_user != nil and user_review.reviewer_id == current_user.id %>
    		<%= link_to("Edit Review", edit_user_review_path(user_review)) %>
		<% end %>
		</td>
		<td>
		<% if current_user != nil and if user_review.reviewer_id == current_user.id %>
			<%= link_to 'Delete Review', user_review_path(user_review), 
				method: :delete,
				data: { confirm: 'Are you sure?'} %>
		<% end %>
		<% end %>
		</td>
	</tr>
<% end %>

</table>

<% end %>
<%= link_to 'Back', 'javascript:history.back()' %>



