<h1>Edit User Profile</h1>
<%= form_with model: @user_profile, local: true do |form| %>
  <p>
    <%= form.label :"First Name" %><br>
    <%= form.text_field :first_name %>
  </p>
 
  <p>
    <%= form.label :"Last Name" %><br>
    <%= form.text_field :last_name %>
  </p>

  <p>
    <%= form.label :"Date of Birth" %><br>
    <%= form.date_field :date_of_birth %>
  </p>


  <p>
    <%= form.label :"Location" %><br>
    <%= form.text_field :location %>
  </p>
 
  <p>
    <%= form.submit %>
  </p>
<% end %>