<h1>New User Profile</h1>
<%= form_with model: @user_profile, local: true do |form| %>

  <% if @user_profile.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@user_profile.errors.count, "error") %> prohibited
        this user_profile from being saved:
      </h2>
      <ul>
        <% @user_profile.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <% if user_signed_in? %>
    <li> 
      <%=link_to('Logout', destroy_user_session_path, method: :delete) %>
    </li>

  <% else %>
    <li>
      <%= link_to('Login', new_user_session_path) %>
    </li>
    <%end%>

  <p>
    <%= form.label :"First Name" %><br>
    <%= form.text_field :first_name %>
  </p>
 
  <p>
    <%= form.label :"Last Name" %><br>
    <%= form.text_field :last_name %>
  </p>

  <p>
    <%= form.label :"Date of Birth" %><br>
    <%= form.date_field :date_of_birth %>
  </p>


  <p>
    <%= form.label :"Location" %><br>
    <%= form.text_field :location %>
  </p>
 
  <p>
    <%= form.submit %>
  </p>
<% end %>