<h1><%= pluralize(@transactions.count, "transaction") %></h1>

<table>
  <tr>
    <th>Item</th>
    <th>Borrower</th>
    <th>Lender</th>
    <th></th>
  </tr>
 
  <% @transactions.each do |transaction| %>
    <tr>
      <td><%= transaction.item_id %></td>
      <td><%= User.find(transaction.borrower_id).email %></td>
      <td><%= User.find(transaction.lender_id).email %></td>
      <td><%= link_to('Show', "/items/"+transaction.item_id.to_s+"/transactions/"+transaction.id.to_s) %></td>
    </tr>
  <% end %>

</table>

<% if @transactions.empty? %>
	<h1> You do not have any transactions </h1>
<% end %>
