<h1>Items#show</h1>


	<p>
	  <strong>Item name:</strong>
	  <%= @item.name %>
	</p>

	<h2>
		<%=  @item.description %>
	</h2>

	<h2>
		<%=  @item.description %>
	</h2>	

	<h2>
		<%=  @item.category %>
	</h2>	

	<h2>
		<%=  @item.quantity %>
	</h2>	

	<h2>
		<%=  @item.condition %>
	</h2>	

	<h2>
		<%=  @item.value %>
	</h2>	