<% if @transaction == nil %>
	<h2> Access denied </h2>
<% else %>
	<h1>Transaction</h1>
		<p>
			<strong>Item name:</strong>
			<%= Item.find(@transaction.item_id).name %>
		</p>

		<% bprofile = UserProfile.where(user_id: @transaction.borrower_id).first %>
		<h2>
			Borrowed by <%= link_to(bprofile.first_name + ' ' + bprofile.last_name, user_profile_path(bprofile)) %>
		</h2>

		<% lprofile = UserProfile.where(user_id: @transaction.lender_id).first %>
		<h2>
			Lent by <%= link_to(lprofile.first_name + ' ' + lprofile.last_name, user_profile_path(lprofile)) %>
		</h2>	

		<h2>
			Status: <%=  @transaction.status.capitalize %>
			<br>
			<% if @transaction.status == 'pending' && @current_user == @transaction.lender && Item.find(@transaction.item_id).status == 'available' %>
				<%= link_to 'Lend', edit_item_transaction_path(@item, @transaction) %>
			<% elsif @transaction.status == 'lent' && @current_user == @transaction.lender %>
				<%= link_to 'Returned', edit_item_transaction_path(@item, @transaction) %>
			<% end %>
		</h2>		
<% end %>

<%= link_to 'Back', 'javascript:history.back()' %>
