<% if @transaction == nil %>
	<h2> Access denied </h2>
<% else %>
	<h1>Transaction</h1>
		<p>
			<strong>Item name:</strong>
			<%= Item.find(@transaction.item_id).name %>
		</p>

		<h2>
			Lent to <%=  User.find(@transaction.borrower_id).email %>
		</h2>

		<h2>
			Lent by <%=  User.find(@transaction.lender_id).email %>
		</h2>	

		<h2>
			Status: <%=  @transaction.status.capitalize %>
			<br>
			<% if @transaction.status == 'pending' && @current_user == @transaction.lender %>
				<%= link_to 'Lend', edit_item_transaction_path(@item, @transaction) %>
			<% elsif @transaction.status == 'lent' && @current_user == @transaction.lender %>
				<%= link_to 'Returned', edit_item_transaction_path(@item, @transaction) %>
			<% end %>
		</h2>		
<% end %>

<%= link_to 'Back', 'javascript:history.back()' %>
